
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}


header { 
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 10px;
}


.logo img { 
    width: 100px;
    height: auto;
     height: 50px;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight:bold;
    padding-bottom: 5px;
}

nav a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}


.box-pro {
    width: 80%;
    background-color: white;
    margin: 100px auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
} 


.texteapropo {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}


.image-pro {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 50px;
}
 

.image-pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contact h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact h1 span {
    color: blue;
}


.lien ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    flex-wrap: wrap;
}

.lien ul li a {
    text-decoration: none;
}

.lien ul li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.lien ul li a img:hover {
    transform: scale(1.2);
    
}


footer {
    width: 100%;
    height: 56px;
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 56px;
    margin-top: 100px;
}

/* =======================
   MODE TELEPHONE
   ======================= */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .box-pro {
        width: 90%;
        margin: 40px auto;
        padding: 25px;
    }

    .image-pro {
        height: auto;
    }

    .image-pro img {
        height: auto;
    }

    .lien ul {
        gap: 25px;
    }
}


