
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}


header { 
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 10px;
}

header .logo img { 
    width: 100px;
    height: auto;
     height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
}

nav a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}


.main {
    width: 80%;
    background-color: white;
    margin: 100px auto;
    padding: 50px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
 
}


.image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.main.text {
    margin-left: 0px;
    padding: 15px;
    border-left: 4px solid #007BFF;
}


.main .objectif{
    margin-left: 0px;
    padding: 15px;
    background-color: #ffffff;
    border-left: 4px solid #007BFF;
    position: relative;
    top: 300px;
    right: 720px;
    
    
  

}





footer {
    width: 100%;
    height: 56px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 56px;
    margin-top: 100px;
}
/* =======================
   MODE TELEPHONE
   ======================= */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .main {
        width: 90%;
        height: auto;
        margin: 40px auto;
        padding: 30px 20px;
        flex-direction: column;
        text-align: center;
    }

    .image img {
        width: 200px;
        height: 200px;
    }

    .main .objectif {
        position: static;
        margin-top: 30px;
        border-left: none;
        border-top: 4px solid #007BFF;
    }
}



