
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

header { 
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}


.logo img { 
    width: 100px;
    height: auto;
    height: 50px;
}


nav ul {
    display: flex;
   
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
}

nav a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}


section .aceuil {
    width: 60%;
    margin: 120px auto;
    background-color: white;
    text-align: center;
    padding: 70px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 50px;

    
}


span {
    font-size: 50px;
    color: blue;
}


section .aceuil button { 
    width: 180px;
    height: 60px;
    border-radius: 50px;
    background-color: blue;
    border: none;
    margin-top: 40px;
    cursor: pointer;

}

section .aceuil button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

section .aceuil button:hover {
    transform: translateY(4px);
}

footer {
    width: 100%;
    height: 56px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 56px;
    margin-top: 300px;
}
/* =======================
   MODE TELEPHONE
   ======================= */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    section .aceuil {
        width: 90%;
        margin: 60px auto;
        padding: 40px 20px;
        border-radius: 30px;
    }

    span {
        font-size: 35px;
    }

    section .aceuil button {
        width: 150px;
        height: 50px;
    }
}



